<div class="center hero-unit">
	<h1>Zachary Abrahamson</h1>
	
	<h2>
		Online. Built with the 
		<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>.
	</h2>
	
	<%= link_to "Keep in touch.", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://railstutorial.org' %>